
{deps, [{jsx, {git, "https://github.com/talentdeficit/jsx.git", {tag, "2.9.0"}}},
        {base58, {git, "https://github.com/aeternity/erl-base58.git", {ref,"60a3356"}}},
        {aeminer, {git, "https://github.com/aeternity/aeminer.git", {ref, "90b7ef8"}}}
       ]}.

{dialyzer, [{warnings, [unknown]},
            {plt_apps, all_deps},
            {base_plt_apps, [erts, kernel, stdlib]}
           ]}.

